.item-condition {
  font-size: 14px;
  font-weight: 300;
  padding: 8px 16px;
}

.item-image {
  align-items: center;
  display: flex;
  height: 100%;
  margin-right: 32px;

  .item-image-link {
    height: 160px;
  }
}

.item-information {
  display: flex;
  flex: 1;
  justify-content: space-between;

  .item-title {
    margin-top: 0;

    .item-title-link {
      color: #333;
      text-decoration: none;
    }

    .item-title-text {
      font-size: 20px;
      font-stretch: 100%;
      font-weight: 300;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

.item-price {
  color: #333;
  font-size: 24px;
  font-weight: 400;

  .item-price-decimals {
    font-size: 12px;
    position: relative;
    top: -8px;
  }

  .item-price-symbol {
    margin-right: 6px;
  }
}

.item-price-shipping {
  align-items: center;
  display: flex;
}

.item-shipping-free {
  height: 18px;
  margin-left: 10px;
  width: 18px;
}

.results-item {
  box-sizing: border-box;
  display: flex;
  min-height: 208px;
  padding: 24px;
}
